.section {
    &__campaign {
        padding: 8rem 0;
    }
}

.campaign {
    &__block {
        display: flex;
        justify-content: space-between;
        margin: 8rem auto 0;

        @include media(sp) {
            flex-direction: column;
        }
    }

    &__item {
        display: block;
        width: 31.334%;
        transition: 1s ease-out;

        @include media(sp) {
            width: 100%;

            +.campaign__item {
                margin-top: 3.2rem;
            }
        }

        &:hover {
            filter: brightness(50%);
        }
    }

    &__news {
        display: flex;
        justify-content: space-between;
        margin: 8rem auto 0;
        text-align: left;

        @include media(sp) {
            flex-direction: column;
            margin: 4rem auto 0;
        }

        &_release {
            width: 70.4rem;

            @include media(sp) {
                width: 100%;
            }
        }

        &_column {
            width: 37.6rem;

            @include media(sp) {
                width: 100%;
                margin: 4rem auto 0;
            }
        }

        &_ttl {
            margin: 0 0 2.4rem;
            line-height: 1.44791;
            font-size: 2.4rem;
            font-weight: 900;
            color: $red;
        }
    }

    &__btn {
        margin: 3.2rem auto 0;
        text-align: center;

        &_link {
            width: 37.6rem;
            margin: 0 auto;
            padding: 1.5rem 0 1.6rem;
            text-align: center;
            line-height: 1;
            font-size: 1.6rem;
            font-weight: 700;

            @include media(sp) {
                width: 100%;
            }
        }
    }

    &__bnr {
        margin: 8rem auto 0;

        &_link {
            display: block;
        }
    }
}

.release {
    &__block {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    &__item {
        display: block;
        width: 32rem;
        transition: 1s ease-out;

        &:nth-child(n+3) {
            margin-top: 3.2rem;

            @include media(sp) {
                margin-top: 0;
            }
        }

        @include media(sp) {
            width: 100%;

            +.release__item {
                margin-top: 3.2rem;
            }
        }

        &_img {
            display: block;
            margin: 0 0 .8rem;
            transition: 1s ease-out;
        }

        &_cont {
            display: block;
        }

        &_desc {
            display: block;
            margin: 0 0 .4rem;
            line-height: 1.6;
            font-size: 1.6rem;
            font-weight: 500;
            color: #000;
            transition: 1s ease-out;
        }

        &_date {
            margin: 0;
            line-height: 1.6;
            font-size: 1.2rem;
            font-weight: 500;
            color: #999;
            transition: 1s ease-out;
        }

        &:hover {
            .release__item {
                &_img {
                    filter: brightness(50%);
                }

                &_desc {
                    color: $red;
                }

                &_date {
                    color: #000;
                }
            }
        }
    }
}

.column {
    &__block {
        display: flex;
        flex-direction: column;

        @include media(sp) {
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
        }
    }

    &__item {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;

        +.column__item {
            margin-top: 3.2rem;

            @include media(sp) {
                margin-top: 0;
            }
        }

        @include media(sp) {
            flex-direction: column;
            flex-wrap: wrap;
            width: 13.4rem;

            &:nth-child(n+3) {
                margin-top: 3.2rem;
            }
        }

        &_img {
            display: block;
            width: 12rem;
            transition: 1s ease-out;

            @include media(sp) {
                width: 100%;
                margin: 0 auto .8rem;
            }
        }

        &_cont {
            display: block;
            width: 23.8rem;

            @include media(sp) {
                width: 100%;
            }
        }

        &_desc {
            display: block;
            margin: 0 0 .4rem;
            line-height: 1.6;
            font-size: 1.6rem;
            font-weight: 500;
            color: #000;
            transition: 1s ease-out;
        }

        &_date {
            margin: 0;
            line-height: 1.6;
            font-size: 1.2rem;
            font-weight: 500;
            color: #999;
            transition: 1s ease-out;
        }

        &:hover {
            .column__item {
                &_img {
                    filter: brightness(50%);
                }

                &_desc {
                    color: $red;
                }

                &_date {
                    color: #000;
                }
            }
        }
    }
}