.footer {
    background: #F32840;
    overflow-x: hidden;

    &__links {
        padding: 4rem 2rem;
        box-sizing: border-box;
        background: rgba(177, 0, 21, .16);

        @include media(sp) {
            padding: 4rem 3.2rem;
        }

        &_list {
            display: flex;
            max-width: 96rem;
            width: 100%;
            margin: 0 auto;
            border-radius: 8px;
            box-sizing: border-box;
            background: #FFF;
            overflow: hidden;

            @include media(sp) {
                flex-direction: column;
            }
        }

        &_item {
            width: 25%;
            padding: 2.4rem 0;
            box-sizing: border-box;
            position: relative;

            @include media(sp) {
                width: 100%;
            }

            &::after {
                content: "";
                width: .8rem;
                height: 1.4rem;
                background: url(../img/icon_arrow_red.svg);
                background-size: 100%;
                position: absolute;
                top: 50%;
                right: 2.4rem;
                transform: translateY(-50%);
            }

            &:nth-child(-n+3) {
                border-right: 2px solid $red;

                @include media(sp) {
                    border-right: 0;
                    border-bottom: 1px solid $red;
                }
            }
        }

        &_link {
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 100%;
        }

        &_main {
            margin: 0 auto .4rem;
            line-height: 1.4479167;
            font-size: 2.4rem;
            font-weight: 900;
            color: $red;
        }

        &_sub {
            margin: 0;
            line-height: 1.448334;
            font-size: 1.2rem;
            font-weight: 500;
            color: #000;
        }

        &_img {
            display: block;
            width: 14.956rem;
            height: 4.646rem;
            margin: 0 auto;
            background: url(../img/logo_business.svg) 50% 50% no-repeat;
            background-size: 100%;
            text-indent: -99999px;
            overflow: hidden;
        }

        &_item {
            transition: .6s ease-out;

            &:hover {
                background: $red;

                &::after {
                    background: url(../img/icon_arrow.svg) 50% 50% no-repeat;
                    background-size: 100%;
                }

                .footer__links {

                    &_main,
                    &_sub {
                        color: #FFF;
                    }

                    &_img {
                        background: url(../img/logo_business_hover.svg) 50% 50% no-repeat;
                        background-size: 100%;
                    }
                }
            }
        }
    }

    &__line {
        padding: 2.4rem 0;
        background: #FFF;

        &_content {
            display: flex;
            justify-content: space-between;
            align-items: center;
            max-width: 124rem;
            width: 100%;
            margin: 0 auto;
            padding: 0 2rem;
            box-sizing: border-box;

            @include media(sp) {
                flex-direction: column;
            }
        }
    }

    &__copy {
        @include media(sp) {
            margin: 2.4rem auto 0;
            text-align: center;
            order: 2;
        }

        &_text {
            margin: 0;
            line-height: 1.3658334;
            font-size: 1.2rem;
        }
    }

    &__sns {
        @include media(sp) {
            order: 1;
        }

        &_list {
            display: flex;
            justify-content: flex-end;

            @include media(sp) {
                justify-content: center;
            }
        }

        &_item {
            width: 3.2rem;
            height: 3.2rem;
            margin-left: 3.2rem;

            @include media(sp) {
                margin: 0 1.6rem;
            }
        }

        &_link {
            display: block;
            width: 100%;
            height: 100%;
            background-position: 50% 50%;
            background-repeat: no-repeat;
            background-size: 100%;
            transition: .6s ease-out;
        }

        &_fb {
            background-image: url(../img/icon_fb.svg);

            &:hover {
                background-image: url(../img/icon_fb_hover.svg);
            }
        }

        &_tw {
            background-image: url(../img/icon_tw.svg);

            &:hover {
                background-image: url(../img/icon_tw_hover.svg);
            }
        }

        &_ig {
            background-image: url(../img/icon_ig.svg);

            &:hover {
                background-image: url(../img/icon_ig_hover.svg);
            }
        }
    }
}