@charset "UTF-8";

/*ini*/
body {
  font-family: Helvetica, arial, 'hiragino kaku gothic pro', meiryo, 'ms pgothic', sans-serif;
  font-feature-settings: "palt";
  background: url("../img/bg.png") repeat 0 0;
}
img {
  -ms-interpolation-mode: bicubic;
  object-fit: cover;
  vertical-align:top;
}
ul,
li {
  list-style-type: none;
}

li img {
  vertical-align:top;
}
/*pc*/
header {
  padding: 40px 0 0 0;
  text-align: center;
}
header #mv {
  max-width: 526px;
  margin: 0 auto;
}
header #mv img {
  width: 100%;
  height: auto;
  vertical-align:top;
}
#os {
  max-width: 318px;
  overflow: hidden;
  margin: 0 auto;
  padding-top: 32px;
  padding-bottom: 24px;
}
#os ul {
  margin: 0;
  padding: 0;
}
#os ul li {
  float: left;
  margin: 0 12px
}
#os ul li img {
  width: 135px;
  height: auto;
  vertical-align:top;
}
#sns {
  max-width: 192px;
  overflow: hidden;
  margin: 0 auto;
  padding-bottom: 16px;
}
#sns ul {
  margin: 0;
  padding: 0;
}
#sns ul li {
  float: left;
  margin: 0 12px
}
#sns ul li img {
  width: 40px;
  height: auto;
  vertical-align:top;
}
main {
  clear: both;
  /*720base*/
  max-width: 784px;
  margin: 0 auto;
  padding: 0 32px;
}
main hr {
  margin: 16px auto;
  background: url("../img/stl.png") no-repeat center top;
  background-size: cover;
  max-width: 720px;
  height: 16px;
  border: none;
}
main #overview {
  max-width: 720px;
  margin: 0 auto;
}
main #overview .txt {
  max-width: 640px;
  margin: 0 auto;
  padding: 24px 0 32px 0;
  font-size: 22px;
  line-height: 1.5;
  font-weight: 400;
  letter-spacing: 0.025em;
  color: #333333;
  text-align: center;
}
main #overview .step {
  max-width: 502px;
  margin: 0 auto;
}
main #overview .step img {
    width: 100%;
    height: auto;
    vertical-align:top;
}
main #overview .postcard {
  overflow: hidden;
  margin:40px auto;
  padding: 0 32px;
  border: solid 2px #F32840;
  border-radius : 8px;
  max-width: 560px;
}
main #overview .postcard .txt {
  max-width: 560px;
  margin:32px 0 24px 0;
  padding: 0;
  letter-spacing: 0.05em;
  text-align: center;
  font-size: 22px;
  line-height: 1.5;
  font-weight: 600;
  color: #F32840;
}

main #overview .postcard .img {
  overflow: hidden;
  max-width: 512px;
  margin: 0 auto 40px auto;
}
main #overview .postcard .img .set {
  float: left;
  width: 50%;
}
main #overview .postcard .img .set .txt {
  text-align: center;
  font-size: 20px;
  color: #333;
  font-weight: 600;
  margin: 0 0 8px 0;
}
main #overview .postcard .img .set img {
  width: 100%;
  height: auto;
  vertical-align:top;
}
main #message {
  max-width: 640px;
  margin: 0 auto;
  font-size: 18px;
  color: #333333;
  letter-spacing: 0.075em;
  line-height: 1.75;
  padding: 16px 0;
}
main #message .bold {
  font-weight: 600;
}
main #participation {
  max-width: 560px;
  margin: 0 auto;
}
main #participation .st_participation {
  padding:24px 0 0 0;
  text-align:center;
}
main #participation .st_participation img {
  width: 144px;
  height: auto;
  vertical-align:top;
}
main #participation .tag {
  padding-top:32px;
}
main #participation .tag .img {
  padding: 48px 56px;
  max-width: 560px;
  text-align: center;
  border: solid 2px #F32840;
  border-radius : 8px;
}
main #participation .tag .img img {
  max-width: 100%;
  height: auto;
  vertical-align:top;
}
main #participation .tag .txt {
  margin-top:4px;
  color: #666666;
  font-size: 14px;
}
main #overview #ex {
  position:relative;
  max-width: 560px;
  height: 175px;
  margin: 40px auto 32px auto;
  border: solid 2px #DADEE0;
  border-radius : 8px;
}
main #overview #ex .st img {
  width: 88px;
  height: auto;
  position: absolute;
  top: -18px;
  left: 0;
  right: 0;
  margin: auto;
  vertical-align:top;
}
main #overview #ex ul {
  max-width: 240px;
  font-size: 22px;
  color: #333;
  font-weight: 600;
  margin: 32px auto 0 auto;
  padding: 0;
}
main #overview #ex ul li {
  margin-bottom:8px;
}
main #participation .ex_txt {
  margin-top:8px;
  padding: 0 0 0 22px;
  font-size: 14px;
  font-weight: 600;
  color: #F32840;
  background: url("../img/icon_alert.png") no-repeat left center;
  background-size: 18px 18px;
}
main #note {
  margin-top:40px;
  text-align:center;
}
main #note .st_note img {
  width: 144px;
  height: auto;
  vertical-align:top;
}
main #note .stage {
  overflow: hidden;
  max-width: 560px;
  margin: 32px auto 80px auto;
  color: #666666;
  text-align: left;
  background-color: #fff;
  border-radius :8px;
}
main #note .stage ul {
  margin: 0;
  padding: 32px 40px 24px 40px;
}
main #note .stage ul li {
  margin-bottom:8px;
  font-size: 12px;
  line-height: 1.5;
  color: #666;
}
main #note .stage ul li p::before{
  content:"※";
	position:absolute;
	left:0;
	top:0;
}
main #note .stage ul li p {
  padding-left:1em;
	position:relative;
}
/*-------------------------*/
#about {
width:100%;
padding: 64px 0 64px 0;
background:#F32840 url("../img/bg_overlay_logo.png") no-repeat center center;
background-size: 134px 240px;

}
#about .st {
  font-size: 24px;
  font-weight: 600;
  color: #fff;
  padding-bottom:24px;
  text-align: center;
}
#about .txt {
  font-size: 16px;
  text-align: center;
  line-height: 1.4;
  color: #fff;
  margin-bottom:24px;
  padding: 0 24px;
}
#about .btn {
  margin: 0 auto;
  max-width: 320px;
}
#about .btn a {
  width: 100%;
  height:40px;
  display: block;
  text-align: center;
  background-color: #fff;
  font-size: 16px;
  font-weight: 600;
  line-height: 40px;
  color: #F32840;
  border-radius: 32px;
  text-decoration: none;
}

#app {
  overflow: hidden;
  background:url("../img/bg_app.png") no-repeat;
  background-size: cover;
}
#app .stage {
  height: 540px;
  overflow: hidden;
  position: relative;
  /*base672*/
  max-width: 720px;
  padding: 0 24px;
  margin: 0 auto;
}
#app .stage .position {
}
#app .stage .position .phone {
  position: absolute;
  bottom:0;
  max-width: 240px;
}
#app .stage .position .phone img {
  width: 100%;
  height: auto;
}
#app .stage .position .set {
  max-width: 350px;
  height: 250px;
  position: absolute;
  top: 0;
  right: 24px;
  bottom: 0;
  margin: auto;
}
#app .stage .position .set .logo {
  max-width: 286px;
  margin: 0 auto;
  margin-bottom:16px;
}
#app .stage .position .set .logo img {
  width: 100%;
  height: auto;
}
#app .stage .position .set .txt {
  text-align: center;
  font-size: 22px;
  line-height: 1.6;
  color: #fff;
  font-weight: 600;
  margin-bottom:16px;
}
#app .stage .position .set .os {
  overflow: hidden;
  padding: 0 16px;
}

#app .stage .position .set .os .img {
  max-width: 135px;
  float: left;
  padding: 0 12px;
}
#app .stage .position .set .os .img img {
  width: 100%;
  height: auto;
}

footer {
  overflow: hidden;
  width: 100%;
  background: #fff;
  border-top: #dfdfdf solid 1px;
  padding: 24px 0;
}
footer .copy {
  font-size: 14px;
  line-height: 40px;
  color: #aaaaaa;
  float: left;
  margin-left:24px;
}
footer .sns {
  float: right;
  margin-right: 24px;
  max-width: 192px;
  overflow: hidden;
}
footer .sns ul {
  margin: 0;
  padding: 0;
}
footer .sns ul li {
  float: left;
  margin: 0 12px
}
footer .sns ul li img {
  width: 40px;
  height: auto;
  vertical-align:top;
}


/*sp*/
@media screen and (max-width: 640px) {
  header {
    padding: 32px 8px 0 8px;
    text-align: center;
  }
  #os ul li {
    float: none;
    max-width: 240px;
    margin: 0 auto;
  }
  #os ul li img {
    width: 100%;
    height: auto;
    vertical-align:top;
  }
  main #overview .postcard .txt br {
    display: none;
  }
  main #overview .txt {
    max-width: 640px;
    margin: 0 auto;
    padding: 16px 0 32px 0;
    font-size: 18px;
    line-height: 1.5;
    font-weight: 400;
    letter-spacing: 0.12em;
    color: #333333;
    text-align: center;
  }
  main #overview .postcard .txt {
    max-width: 560px;
    margin:32px 0 16px 0;
    padding: 0;
    text-align: center;
    font-size: 18px;
    line-height: 1.5;
    font-weight: 600;
    letter-spacing: 0;
    color: #F32840;
  }
  main #message {
    max-width: 640px;
    margin: 0 auto;
    font-size: 16px;
    color: #333333;
    letter-spacing: 0.075em;
    line-height: 1.75;
    padding: 16px 0;
  }
  main #participation .tag .img {
    padding: 40px 0;
    max-width: 560px;
    text-align: center;
    border: solid 2px #F32840;
    border-radius : 8px;
  }
  main #participation #ex ul {
    max-width: 240px;
    font-size: 18px;
    color: #333;
    font-weight: 600;
    margin: 40px auto 0 auto;
    padding: 0;
  }
  main #overview .postcard .txt {
    max-width: 560px;
    margin:32px 0 0 0;
    padding: 0;
    letter-spacing: 0.05em;
    text-align: center;
    font-size: 22px;
    line-height: 1.5;
    font-weight: 600;
    color: #F32840;
  }
  main #overview .postcard .img .set {
    width: 100%;
  }
  main #overview .postcard .img .set .txt {
    text-align: center;
    font-size: 20px;
    color: #333;
    font-weight: 600;
    margin: 32px 0 8px 0;
  }
  #about .txt br {
    display: none;
  }
  #app .stage {
    height: auto;
    overflow: hidden;
    position: relative;
    /*base672*/
    max-width: 100%;
    padding: 0;
    margin: 0;
  }
  #app .stage .position .phone {
    position: relative;
    max-width: 280px;
    margin: 0 auto;
  }
  #app .stage .position .set {
    position: relative;
    top:0;
    left:0;
    max-width: 100%;
    height: auto;
    margin:64px 0 32px 0;
    padding: 0 24px 0 24px;
  }
  #app .stage .position .set .os .img {
    max-width: 200px;
    float: none;
    padding: 0;
    margin: 0 auto;
  }
  footer .sns {
    float :none;
    margin: 0 auto;
    max-width: 192px;
    overflow: hidden;
  }
  footer .copy {
    font-size: 14px;
    line-height: 40px;
    color: #aaaaaa;
    float: none;
    text-align: center;
  }
}
