.header {
    background: #000 url(../img/mv_bg.png) 50% 50% no-repeat;
    background-size: cover;

    &__content {
        padding: 5.2rem 3.2rem 5.6rem;
        box-sizing: border-box;

        &_ttl {
            width: 26.608rem;
            margin: 0 auto 1.57rem;
            transform: translateX(2.288rem);
        }

        &_sub {
            width: 25.5rem;
            margin: 0 auto;
        }
    }

    &__sns {
        margin: 3.2rem auto 0;

        &_list {
            display: flex;
            justify-content: center;
        }

        &_item {
            width: 4rem;
            margin: 0 .8rem;
        }
    }
}