.message_area {
    display: none;
    position: fixed;
    height: auto;
    z-index: 99;
    opacity: 0.95;
    cursor: pointer;
    width: 100%;
}

.message_area div {
    padding: 15px;
}

.info_message_area {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}

.error_message_area {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}