.block-ticket-data.js-show-more
  table.data-table
    tbody
      tr
        th 日付
        th 優待券発行数
        th 優待券使用率
      tr.is-first
        td 合計
        td.font-din.is-big 1,234,567
        td
      tr
        td
          span.data-number.font-din 8.1
          span.data-text (月)
        td
          span.data-number.font-din 236
        td
          span.data-number.font-din 16%
      tr
        td
          span.data-number.font-din 8.2
          span.data-text (火)
        td
          span.data-number.font-din 236
        td
          span.data-number.font-din 66%
      tr
        td
          span.data-number.font-din 8.3
          span.data-text (水)
        td
          span.data-number.font-din 236
        td
          span.data-number.font-din 36%
      tr
        td
          span.data-number.font-din 8.4
          span.data-text (木)
        td
          span.data-number.font-din 236
        td
          span.data-number.font-din 6%
      tr
        td
          span.data-number.font-din 8.5
          span.data-text (金)
        td
          span.data-number.font-din 236
        td
          span.data-number.font-din 1%
      tr
        td
          span.data-number.font-din 9.1
          span.data-text (木)
        td
          span.data-number.font-din 236
        td
          span.data-number.font-din 30%
      tr
        td
          span.data-number.font-din 8.1
          span.data-text (月)
        td
          span.data-number.font-din 236
        td
          span.data-number.font-din 16%
      tr
        td
          span.data-number.font-din 8.2
          span.data-text (火)
        td
          span.data-number.font-din 236
        td
          span.data-number.font-din 66%
      tr
        td
          span.data-number.font-din 8.3
          span.data-text (水)
        td
          span.data-number.font-din 236
        td
          span.data-number.font-din 36%
      tr
        td
          span.data-number.font-din 8.4
          span.data-text (木)
        td
          span.data-number.font-din 236
        td
          span.data-number.font-din 6%
      tr
        td
          span.data-number.font-din 8.5
          span.data-text (金)
        td
          span.data-number.font-din 236
        td
          span.data-number.font-din 1%
      tr
        td
          span.data-number.font-din 9.1
          span.data-text (木)
        td
          span.data-number.font-din 236
        td
          span.data-number.font-din 30%
      tr
        td
          span.data-number.font-din 8.1
          span.data-text (月)
        td
          span.data-number.font-din 236
        td
          span.data-number.font-din 16%
      tr
        td
          span.data-number.font-din 8.2
          span.data-text (火)
        td
          span.data-number.font-din 236
        td
          span.data-number.font-din 66%
      tr
        td
          span.data-number.font-din 8.3
          span.data-text (水)
        td
          span.data-number.font-din 236
        td
          span.data-number.font-din 36%
      tr
        td
          span.data-number.font-din 8.4
          span.data-text (木)
        td
          span.data-number.font-din 236
        td
          span.data-number.font-din 6%
      tr
        td
          span.data-number.font-din 8.5
          span.data-text (金)
        td
          span.data-number.font-din 236
        td
          span.data-number.font-din 1%
      tr
        td
          span.data-number.font-din 9.1
          span.data-text (木)
        td
          span.data-number.font-din 236
        td
          span.data-number.font-din 30%
      tr
        td
          span.data-number.font-din 8.1
          span.data-text (月)
        td
          span.data-number.font-din 236
        td
          span.data-number.font-din 16%
      tr
        td
          span.data-number.font-din 8.2
          span.data-text (火)
        td
          span.data-number.font-din 236
        td
          span.data-number.font-din 66%
      tr
        td
          span.data-number.font-din 8.3
          span.data-text (水)
        td
          span.data-number.font-din 236
        td
          span.data-number.font-din 36%
      tr
        td
          span.data-number.font-din 8.4
          span.data-text (木)
        td
          span.data-number.font-din 236
        td
          span.data-number.font-din 6%
      tr
        td
          span.data-number.font-din 8.5
          span.data-text (金)
        td
          span.data-number.font-din 236
        td
          span.data-number.font-din 1%
      tr
        td
          span.data-number.font-din 9.1
          span.data-text (木)
        td
          span.data-number.font-din 236
        td
          span.data-number.font-din 30%
      tr
        td
          span.data-number.font-din 8.1
          span.data-text (月)
        td
          span.data-number.font-din 236
        td
          span.data-number.font-din 16%
      tr
        td
          span.data-number.font-din 8.2
          span.data-text (火)
        td
          span.data-number.font-din 236
        td
          span.data-number.font-din 66%
      tr
        td
          span.data-number.font-din 8.3
          span.data-text (水)
        td
          span.data-number.font-din 236
        td
          span.data-number.font-din 36%
      tr
        td
          span.data-number.font-din 8.4
          span.data-text (木)
        td
          span.data-number.font-din 236
        td
          span.data-number.font-din 6%
      tr
        td
          span.data-number.font-din 8.5
          span.data-text (金)
        td
          span.data-number.font-din 236
        td
          span.data-number.font-din 1%
      tr
        td
          span.data-number.font-din 9.1
          span.data-text (木)
        td
          span.data-number.font-din 236
        td
          span.data-number.font-din 30%
      tr
        td
          span.data-number.font-din 8.1
          span.data-text (月)
        td
          span.data-number.font-din 236
        td
          span.data-number.font-din 16%
      tr
        td
          span.data-number.font-din 8.2
          span.data-text (火)
        td
          span.data-number.font-din 236
        td
          span.data-number.font-din 66%
      tr
        td
          span.data-number.font-din 8.3
          span.data-text (水)
        td
          span.data-number.font-din 236
        td
          span.data-number.font-din 36%
      tr
        td
          span.data-number.font-din 8.4
          span.data-text (木)
        td
          span.data-number.font-din 236
        td
          span.data-number.font-din 6%
      tr
        td
          span.data-number.font-din 8.5
          span.data-text (金)
        td
          span.data-number.font-din 236
        td
          span.data-number.font-din 1%
      tr
        td
          span.data-number.font-din 9.1
          span.data-text (木)
        td
          span.data-number.font-din 236
        td
          span.data-number.font-din 30%
      tr
        td
          span.data-number.font-din 8.1
          span.data-text (月)
        td
          span.data-number.font-din 236
        td
          span.data-number.font-din 16%
      tr
        td
          span.data-number.font-din 8.2
          span.data-text (火)
        td
          span.data-number.font-din 236
        td
          span.data-number.font-din 66%
      tr
        td
          span.data-number.font-din 8.3
          span.data-text (水)
        td
          span.data-number.font-din 236
        td
          span.data-number.font-din 36%
      tr
        td
          span.data-number.font-din 8.4
          span.data-text (木)
        td
          span.data-number.font-din 236
        td
          span.data-number.font-din 6%
      tr
        td
          span.data-number.font-din 8.5
          span.data-text (金)
        td
          span.data-number.font-din 236
        td
          span.data-number.font-din 1%
      tr
        td
          span.data-number.font-din 9.1
          span.data-text (木)
        td
          span.data-number.font-din 236
        td
          span.data-number.font-din 30%
      tr
        td
          span.data-number.font-din 8.1
          span.data-text (月)
        td
          span.data-number.font-din 236
        td
          span.data-number.font-din 16%
      tr
        td
          span.data-number.font-din 8.2
          span.data-text (火)
        td
          span.data-number.font-din 236
        td
          span.data-number.font-din 66%
      tr
        td
          span.data-number.font-din 8.3
          span.data-text (水)
        td
          span.data-number.font-din 236
        td
          span.data-number.font-din 36%
      tr
        td
          span.data-number.font-din 8.4
          span.data-text (木)
        td
          span.data-number.font-din 236
        td
          span.data-number.font-din 6%
      tr
        td
          span.data-number.font-din 8.5
          span.data-text (金)
        td
          span.data-number.font-din 236
        td
          span.data-number.font-din 1%
      tr
        td
          span.data-number.font-din 9.1
          span.data-text (木)
        td
          span.data-number.font-din 236
        td
          span.data-number.font-din 30%
      tr
        td
          span.data-number.font-din 8.1
          span.data-text (月)
        td
          span.data-number.font-din 236
        td
          span.data-number.font-din 16%
      tr
        td
          span.data-number.font-din 8.2
          span.data-text (火)
        td
          span.data-number.font-din 236
        td
          span.data-number.font-din 66%
      tr
        td
          span.data-number.font-din 8.3
          span.data-text (水)
        td
          span.data-number.font-din 236
        td
          span.data-number.font-din 36%
      tr
        td
          span.data-number.font-din 8.4
          span.data-text (木)
        td
          span.data-number.font-din 236
        td
          span.data-number.font-din 6%
      tr
        td
          span.data-number.font-din 8.5
          span.data-text (金)
        td
          span.data-number.font-din 236
        td
          span.data-number.font-din 1%
      tr
        td
          span.data-number.font-din 9.1
          span.data-text (木)
        td
          span.data-number.font-din 236
        td
          span.data-number.font-din 30%
      tr
        td
          span.data-number.font-din 8.1
          span.data-text (月)
        td
          span.data-number.font-din 236
        td
          span.data-number.font-din 16%
      tr
        td
          span.data-number.font-din 8.2
          span.data-text (火)
        td
          span.data-number.font-din 236
        td
          span.data-number.font-din 66%
      tr
        td
          span.data-number.font-din 8.3
          span.data-text (水)
        td
          span.data-number.font-din 236
        td
          span.data-number.font-din 36%
      tr
        td
          span.data-number.font-din 8.4
          span.data-text (木)
        td
          span.data-number.font-din 236
        td
          span.data-number.font-din 6%
      tr
        td
          span.data-number.font-din 8.5
          span.data-text (金)
        td
          span.data-number.font-din 236
        td
          span.data-number.font-din 1%
      tr
        td
          span.data-number.font-din 9.1
          span.data-text (木)
        td
          span.data-number.font-din 236
        td
          span.data-number.font-din 30%
      tr
        td
          span.data-number.font-din 8.1
          span.data-text (月)
        td
          span.data-number.font-din 236
        td
          span.data-number.font-din 16%
      tr
        td
          span.data-number.font-din 8.2
          span.data-text (火)
        td
          span.data-number.font-din 236
        td
          span.data-number.font-din 66%
      tr
        td
          span.data-number.font-din 8.3
          span.data-text (水)
        td
          span.data-number.font-din 236
        td
          span.data-number.font-din 36%
      tr
        td
          span.data-number.font-din 8.4
          span.data-text (木)
        td
          span.data-number.font-din 236
        td
          span.data-number.font-din 6%
      tr
        td
          span.data-number.font-din 8.5
          span.data-text (金)
        td
          span.data-number.font-din 236
        td
          span.data-number.font-din 1%
      tr
        td
          span.data-number.font-din 9.1
          span.data-text (木)
        td
          span.data-number.font-din 236
        td
          span.data-number.font-din 30%
      tr
        td
          span.data-number.font-din 8.1
          span.data-text (月)
        td
          span.data-number.font-din 236
        td
          span.data-number.font-din 16%
      tr
        td
          span.data-number.font-din 8.2
          span.data-text (火)
        td
          span.data-number.font-din 236
        td
          span.data-number.font-din 66%
      tr
        td
          span.data-number.font-din 8.3
          span.data-text (水)
        td
          span.data-number.font-din 236
        td
          span.data-number.font-din 36%
      tr
        td
          span.data-number.font-din 8.4
          span.data-text (木)
        td
          span.data-number.font-din 236
        td
          span.data-number.font-din 6%
      tr
        td
          span.data-number.font-din 8.5
          span.data-text (金)
        td
          span.data-number.font-din 236
        td
          span.data-number.font-din 1%
      tr
        td
          span.data-number.font-din 9.1
          span.data-text (木)
        td
          span.data-number.font-din 236
        td
          span.data-number.font-din 30%
      tr
        td
          span.data-number.font-din 8.1
          span.data-text (月)
        td
          span.data-number.font-din 236
        td
          span.data-number.font-din 16%
      tr
        td
          span.data-number.font-din 8.2
          span.data-text (火)
        td
          span.data-number.font-din 236
        td
          span.data-number.font-din 66%
      tr
        td
          span.data-number.font-din 8.3
          span.data-text (水)
        td
          span.data-number.font-din 236
        td
          span.data-number.font-din 36%
      tr
        td
          span.data-number.font-din 8.4
          span.data-text (木)
        td
          span.data-number.font-din 236
        td
          span.data-number.font-din 6%
      tr
        td
          span.data-number.font-din 8.5
          span.data-text (金)
        td
          span.data-number.font-din 236
        td
          span.data-number.font-din 1%
      tr
        td
          span.data-number.font-din 9.1
          span.data-text (木)
        td
          span.data-number.font-din 236
        td
          span.data-number.font-din 30%
      tr
        td
          span.data-number.font-din 8.1
          span.data-text (月)
        td
          span.data-number.font-din 236
        td
          span.data-number.font-din 16%
      tr
        td
          span.data-number.font-din 8.2
          span.data-text (火)
        td
          span.data-number.font-din 236
        td
          span.data-number.font-din 66%
      tr
        td
          span.data-number.font-din 8.3
          span.data-text (水)
        td
          span.data-number.font-din 236
        td
          span.data-number.font-din 36%
      tr
        td
          span.data-number.font-din 8.4
          span.data-text (木)
        td
          span.data-number.font-din 236
        td
          span.data-number.font-din 6%
      tr
        td
          span.data-number.font-din 8.5
          span.data-text (金)
        td
          span.data-number.font-din 236
        td
          span.data-number.font-din 1%
      tr
        td
          span.data-number.font-din 9.1
          span.data-text (木)
        td
          span.data-number.font-din 236
        td
          span.data-number.font-din 30%
      tr
        td
          span.data-number.font-din 8.1
          span.data-text (月)
        td
          span.data-number.font-din 236
        td
          span.data-number.font-din 16%
      tr
        td
          span.data-number.font-din 8.2
          span.data-text (火)
        td
          span.data-number.font-din 236
        td
          span.data-number.font-din 66%
      tr
        td
          span.data-number.font-din 8.3
          span.data-text (水)
        td
          span.data-number.font-din 236
        td
          span.data-number.font-din 36%
      tr
        td
          span.data-number.font-din 8.4
          span.data-text (木)
        td
          span.data-number.font-din 236
        td
          span.data-number.font-din 6%
      tr
        td
          span.data-number.font-din 8.5
          span.data-text (金)
        td
          span.data-number.font-din 236
        td
          span.data-number.font-din 1%
      tr
        td
          span.data-number.font-din 9.1
          span.data-text (木)
        td
          span.data-number.font-din 236
        td
          span.data-number.font-din 30%
      tr
        td
          span.data-number.font-din 8.1
          span.data-text (月)
        td
          span.data-number.font-din 236
        td
          span.data-number.font-din 16%
      tr
        td
          span.data-number.font-din 8.2
          span.data-text (火)
        td
          span.data-number.font-din 236
        td
          span.data-number.font-din 66%
      tr
        td
          span.data-number.font-din 8.3
          span.data-text (水)
        td
          span.data-number.font-din 236
        td
          span.data-number.font-din 36%
      tr
        td
          span.data-number.font-din 8.4
          span.data-text (木)
        td
          span.data-number.font-din 236
        td
          span.data-number.font-din 6%
      tr
        td
          span.data-number.font-din 8.5
          span.data-text (金)
        td
          span.data-number.font-din 236
        td
          span.data-number.font-din 1%
      tr
        td
          span.data-number.font-din 9.1
          span.data-text (木)
        td
          span.data-number.font-din 236
        td
          span.data-number.font-din 30%
      tr
        td
          span.data-number.font-din 8.1
          span.data-text (月)
        td
          span.data-number.font-din 236
        td
          span.data-number.font-din 16%
      tr
        td
          span.data-number.font-din 8.2
          span.data-text (火)
        td
          span.data-number.font-din 236
        td
          span.data-number.font-din 66%
      tr
        td
          span.data-number.font-din 8.3
          span.data-text (水)
        td
          span.data-number.font-din 236
        td
          span.data-number.font-din 36%
      tr
        td
          span.data-number.font-din 8.4
          span.data-text (木)
        td
          span.data-number.font-din 236
        td
          span.data-number.font-din 6%
      tr
        td
          span.data-number.font-din 8.1
          span.data-text (月)
        td
          span.data-number.font-din 236
        td
          span.data-number.font-din 16%
      tr
        td
          span.data-number.font-din 8.2
          span.data-text (火)
        td
          span.data-number.font-din 236
        td
          span.data-number.font-din 66%
      tr
        td
          span.data-number.font-din 8.3
          span.data-text (水)
        td
          span.data-number.font-din 236
        td
          span.data-number.font-din 36%
      tr
        td
          span.data-number.font-din 8.4
          span.data-text (木)
        td
          span.data-number.font-din 236
        td
          span.data-number.font-din 6%
      tr
        td
          span.data-number.font-din 8.5
          span.data-text (金)
        td
          span.data-number.font-din 236
        td
          span.data-number.font-din 1%
      tr
        td
          span.data-number.font-din 9.1
          span.data-text (木)
        td
          span.data-number.font-din 236
        td
          span.data-number.font-din 30%
      tr
        td
          span.data-number.font-din 8.1
          span.data-text (月)
        td
          span.data-number.font-din 236
        td
          span.data-number.font-din 16%
      tr
        td
          span.data-number.font-din 8.2
          span.data-text (火)
        td
          span.data-number.font-din 236
        td
          span.data-number.font-din 66%
      tr
        td
          span.data-number.font-din 8.3
          span.data-text (水)
        td
          span.data-number.font-din 236
        td
          span.data-number.font-din 36%
      tr
        td
          span.data-number.font-din 8.4
          span.data-text (木)
        td
          span.data-number.font-din 236
        td
          span.data-number.font-din 6%
      tr
        td
          span.data-number.font-din 8.5
          span.data-text (金)
        td
          span.data-number.font-din 236
        td
          span.data-number.font-din 1%
      tr
        td
          span.data-number.font-din 9.1
          span.data-text (木)
        td
          span.data-number.font-din 236
        td
          span.data-number.font-din 30%
      tr
        td
          span.data-number.font-din 8.1
          span.data-text (月)
        td
          span.data-number.font-din 236
        td
          span.data-number.font-din 16%
      tr
        td
          span.data-number.font-din 8.2
          span.data-text (火)
        td
          span.data-number.font-din 236
        td
          span.data-number.font-din 66%
      tr
        td
          span.data-number.font-din 8.3
          span.data-text (水)
        td
          span.data-number.font-din 236
        td
          span.data-number.font-din 36%
      tr
        td
          span.data-number.font-din 8.4
          span.data-text (木)
        td
          span.data-number.font-din 236
        td
          span.data-number.font-din 6%
      tr
        td
          span.data-number.font-din 8.5
          span.data-text (金)
        td
          span.data-number.font-din 236
        td
          span.data-number.font-din 1%
      tr
        td
          span.data-number.font-din 9.1
          span.data-text (木)
        td
          span.data-number.font-din 236
        td
          span.data-number.font-din 30%
      tr
        td
          span.data-number.font-din 8.1
          span.data-text (月)
        td
          span.data-number.font-din 236
        td
          span.data-number.font-din 16%
      tr
        td
          span.data-number.font-din 8.2
          span.data-text (火)
        td
          span.data-number.font-din 236
        td
          span.data-number.font-din 66%
      tr
        td
          span.data-number.font-din 8.3
          span.data-text (水)
        td
          span.data-number.font-din 236
        td
          span.data-number.font-din 36%
      tr
        td
          span.data-number.font-din 8.4
          span.data-text (木)
        td
          span.data-number.font-din 236
        td
          span.data-number.font-din 6%
      tr
        td
          span.data-number.font-din 8.5
          span.data-text (金)
        td
          span.data-number.font-din 236
        td
          span.data-number.font-din 1%
      tr
        td
          span.data-number.font-din 9.1
          span.data-text (木)
        td
          span.data-number.font-din 236
        td
          span.data-number.font-din 30%
      tr
        td
          span.data-number.font-din 8.1
          span.data-text (月)
        td
          span.data-number.font-din 236
        td
          span.data-number.font-din 16%
      tr
        td
          span.data-number.font-din 8.2
          span.data-text (火)
        td
          span.data-number.font-din 236
        td
          span.data-number.font-din 66%
      tr
        td
          span.data-number.font-din 8.3
          span.data-text (水)
        td
          span.data-number.font-din 236
        td
          span.data-number.font-din 36%
      tr
        td
          span.data-number.font-din 8.4
          span.data-text (木)
        td
          span.data-number.font-din 236
        td
          span.data-number.font-din 6%
      tr
        td
          span.data-number.font-din 8.5
          span.data-text (金)
        td
          span.data-number.font-din 236
        td
          span.data-number.font-din 1%
      tr
        td
          span.data-number.font-din 9.1
          span.data-text (木)
        td
          span.data-number.font-din 236
        td
          span.data-number.font-din 30%
      tr
        td
          span.data-number.font-din 8.1
          span.data-text (月)
        td
          span.data-number.font-din 236
        td
          span.data-number.font-din 16%
      tr
        td
          span.data-number.font-din 8.2
          span.data-text (火)
        td
          span.data-number.font-din 236
        td
          span.data-number.font-din 66%
      tr
        td
          span.data-number.font-din 8.3
          span.data-text (水)
        td
          span.data-number.font-din 236
        td
          span.data-number.font-din 36%
      tr
        td
          span.data-number.font-din 8.4
          span.data-text (木)
        td
          span.data-number.font-din 236
        td
          span.data-number.font-din 6%
      tr
        td
          span.data-number.font-din 8.5
          span.data-text (金)
        td
          span.data-number.font-din 236
        td
          span.data-number.font-din 1%
      tr
        td
          span.data-number.font-din 9.1
          span.data-text (木)
        td
          span.data-number.font-din 236
        td
          span.data-number.font-din 30%
      tr
        td
          span.data-number.font-din 8.1
          span.data-text (月)
        td
          span.data-number.font-din 236
        td
          span.data-number.font-din 16%
      tr
        td
          span.data-number.font-din 8.2
          span.data-text (火)
        td
          span.data-number.font-din 236
        td
          span.data-number.font-din 66%
      tr
        td
          span.data-number.font-din 8.3
          span.data-text (水)
        td
          span.data-number.font-din 236
        td
          span.data-number.font-din 36%
      tr
        td
          span.data-number.font-din 8.4
          span.data-text (木)
        td
          span.data-number.font-din 236
        td
          span.data-number.font-din 6%
      tr
        td
          span.data-number.font-din 8.5
          span.data-text (金)
        td
          span.data-number.font-din 236
        td
          span.data-number.font-din 1%
      tr
        td
          span.data-number.font-din 9.1
          span.data-text (木)
        td
          span.data-number.font-din 236
        td
          span.data-number.font-din 30%
      tr
        td
          span.data-number.font-din 8.1
          span.data-text (月)
        td
          span.data-number.font-din 236
        td
          span.data-number.font-din 16%
      tr
        td
          span.data-number.font-din 8.2
          span.data-text (火)
        td
          span.data-number.font-din 236
        td
          span.data-number.font-din 66%
      tr
        td
          span.data-number.font-din 8.3
          span.data-text (水)
        td
          span.data-number.font-din 236
        td
          span.data-number.font-din 36%
      tr
        td
          span.data-number.font-din 8.4
          span.data-text (木)
        td
          span.data-number.font-din 236
        td
          span.data-number.font-din 6%
      tr
        td
          span.data-number.font-din 8.5
          span.data-text (金)
        td
          span.data-number.font-din 236
        td
          span.data-number.font-din 1%
      tr
        td
          span.data-number.font-din 9.1
          span.data-text (木)
        td
          span.data-number.font-din 236
        td
          span.data-number.font-din 30%
      tr
        td
          span.data-number.font-din 8.1
          span.data-text (月)
        td
          span.data-number.font-din 236
        td
          span.data-number.font-din 16%
      tr
        td
          span.data-number.font-din 8.2
          span.data-text (火)
        td
          span.data-number.font-din 236
        td
          span.data-number.font-din 66%
      tr
        td
          span.data-number.font-din 8.3
          span.data-text (水)
        td
          span.data-number.font-din 236
        td
          span.data-number.font-din 36%
      tr
        td
          span.data-number.font-din 8.4
          span.data-text (木)
        td
          span.data-number.font-din 236
        td
          span.data-number.font-din 6%
      tr
        td
          span.data-number.font-din 8.5
          span.data-text (金)
        td
          span.data-number.font-din 236
        td
          span.data-number.font-din 1%
      tr
        td
          span.data-number.font-din 9.1
          span.data-text (木)
        td
          span.data-number.font-din 236
        td
          span.data-number.font-din 30%
      tr
        td
          span.data-number.font-din 8.1
          span.data-text (月)
        td
          span.data-number.font-din 236
        td
          span.data-number.font-din 16%
      tr
        td
          span.data-number.font-din 8.2
          span.data-text (火)
        td
          span.data-number.font-din 236
        td
          span.data-number.font-din 66%
      tr
        td
          span.data-number.font-din 8.3
          span.data-text (水)
        td
          span.data-number.font-din 236
        td
          span.data-number.font-din 36%
      tr
        td
          span.data-number.font-din 8.4
          span.data-text (木)
        td
          span.data-number.font-din 236
        td
          span.data-number.font-din 6%
      tr
        td
          span.data-number.font-din 8.5
          span.data-text (金)
        td
          span.data-number.font-din 236
        td
          span.data-number.font-din 1%
      tr
        td
          span.data-number.font-din 9.1
          span.data-text (木)
        td
          span.data-number.font-din 236
        td
          span.data-number.font-din 30%
      tr
        td
          span.data-number.font-din 8.1
          span.data-text (月)
        td
          span.data-number.font-din 236
        td
          span.data-number.font-din 16%
      tr
        td
          span.data-number.font-din 8.2
          span.data-text (火)
        td
          span.data-number.font-din 236
        td
          span.data-number.font-din 66%
      tr
        td
          span.data-number.font-din 8.3
          span.data-text (水)
        td
          span.data-number.font-din 236
        td
          span.data-number.font-din 36%
      tr
        td
          span.data-number.font-din 8.4
          span.data-text (木)
        td
          span.data-number.font-din 236
        td
          span.data-number.font-din 6%
      tr
        td
          span.data-number.font-din 8.5
          span.data-text (金)
        td
          span.data-number.font-din 236
        td
          span.data-number.font-din 1%
      tr
        td
          span.data-number.font-din 9.1
          span.data-text (木)
        td
          span.data-number.font-din 236
        td
          span.data-number.font-din 30%
      tr
        td
          span.data-number.font-din 8.1
          span.data-text (月)
        td
          span.data-number.font-din 236
        td
          span.data-number.font-din 16%
      tr
        td
          span.data-number.font-din 8.2
          span.data-text (火)
        td
          span.data-number.font-din 236
        td
          span.data-number.font-din 66%
      tr
        td
          span.data-number.font-din 8.3
          span.data-text (水)
        td
          span.data-number.font-din 236
        td
          span.data-number.font-din 36%
      tr
        td
          span.data-number.font-din 8.4
          span.data-text (木)
        td
          span.data-number.font-din 236
        td
          span.data-number.font-din 6%
      tr
        td
          span.data-number.font-din 8.5
          span.data-text (金)
        td
          span.data-number.font-din 236
        td
          span.data-number.font-din 1%
      tr
        td
          span.data-number.font-din 9.1
          span.data-text (木)
        td
          span.data-number.font-din 236
        td
          span.data-number.font-din 30%
      tr
        td
          span.data-number.font-din 8.1
          span.data-text (月)
        td
          span.data-number.font-din 236
        td
          span.data-number.font-din 16%
      tr
        td
          span.data-number.font-din 8.2
          span.data-text (火)
        td
          span.data-number.font-din 236
        td
          span.data-number.font-din 66%
      tr
        td
          span.data-number.font-din 8.3
          span.data-text (水)
        td
          span.data-number.font-din 236
        td
          span.data-number.font-din 36%
      tr
        td
          span.data-number.font-din 8.4
          span.data-text (木)
        td
          span.data-number.font-din 236
        td
          span.data-number.font-din 6%
      tr
        td
          span.data-number.font-din 8.5
          span.data-text (金)
        td
          span.data-number.font-din 236
        td
          span.data-number.font-din 1%
      tr
        td
          span.data-number.font-din 9.1
          span.data-text (木)
        td
          span.data-number.font-din 236
        td
          span.data-number.font-din 30%
      tr
        td
          span.data-number.font-din 8.1
          span.data-text (月)
        td
          span.data-number.font-din 236
        td
          span.data-number.font-din 16%
      tr
        td
          span.data-number.font-din 8.2
          span.data-text (火)
        td
          span.data-number.font-din 236
        td
          span.data-number.font-din 66%
      tr
        td
          span.data-number.font-din 8.3
          span.data-text (水)
        td
          span.data-number.font-din 236
        td
          span.data-number.font-din 36%
      tr
        td
          span.data-number.font-din 8.4
          span.data-text (木)
        td
          span.data-number.font-din 236
        td
          span.data-number.font-din 6%
      tr
        td
          span.data-number.font-din 8.5
          span.data-text (金)
        td
          span.data-number.font-din 236
        td
          span.data-number.font-din 1%
      tr
        td
          span.data-number.font-din 9.1
          span.data-text (木)
        td
          span.data-number.font-din 236
        td
          span.data-number.font-din 30%
      tr
        td
          span.data-number.font-din 8.1
          span.data-text (月)
        td
          span.data-number.font-din 236
        td
          span.data-number.font-din 16%
      tr
        td
          span.data-number.font-din 8.2
          span.data-text (火)
        td
          span.data-number.font-din 236
        td
          span.data-number.font-din 66%
      tr
        td
          span.data-number.font-din 8.3
          span.data-text (水)
        td
          span.data-number.font-din 236
        td
          span.data-number.font-din 36%
      tr
        td
          span.data-number.font-din 8.4
          span.data-text (木)
        td
          span.data-number.font-din 236
        td
          span.data-number.font-din 6%
      tr
        td
          span.data-number.font-din 8.5
          span.data-text (金)
        td
          span.data-number.font-din 236
        td
          span.data-number.font-din 1%
      tr
        td
          span.data-number.font-din 9.1
          span.data-text (木)
        td
          span.data-number.font-din 236
        td
          span.data-number.font-din 30%
      tr
        td
          span.data-number.font-din 8.1
          span.data-text (月)
        td
          span.data-number.font-din 236
        td
          span.data-number.font-din 16%
      tr
        td
          span.data-number.font-din 8.2
          span.data-text (火)
        td
          span.data-number.font-din 236
        td
          span.data-number.font-din 66%
      tr
        td
          span.data-number.font-din 8.3
          span.data-text (水)
        td
          span.data-number.font-din 236
        td
          span.data-number.font-din 36%
      tr
        td
          span.data-number.font-din 8.4
          span.data-text (木)
        td
          span.data-number.font-din 236
        td
          span.data-number.font-din 6%
      tr
        td
          span.data-number.font-din 8.5
          span.data-text (金)
        td
          span.data-number.font-din 236
        td
          span.data-number.font-din 1%
      tr
        td
          span.data-number.font-din 9.1
          span.data-text (木)
        td
          span.data-number.font-din 236
        td
          span.data-number.font-din 30%
      tr
        td
          span.data-number.font-din 8.1
          span.data-text (月)
        td
          span.data-number.font-din 236
        td
          span.data-number.font-din 16%
      tr
        td
          span.data-number.font-din 8.2
          span.data-text (火)
        td
          span.data-number.font-din 236
        td
          span.data-number.font-din 66%
      tr
        td
          span.data-number.font-din 8.3
          span.data-text (水)
        td
          span.data-number.font-din 236
        td
          span.data-number.font-din 36%
      tr
        td
          span.data-number.font-din 8.4
          span.data-text (木)
        td
          span.data-number.font-din 236
        td
          span.data-number.font-din 6%
  .button-read-more
    span もっと見る