.modal-popup.js-modal-popup(data-modal='modal-calendar')
  .modal-calendar
    .modal-header
      button.today-button 今日
      h2.modal-title カスタム
      span.modal-close.js-modal-close
    .modal-content.js-show-calendar
      a.button-prev(href="#")
      .calendar-inner.js-calendar-item
        .calendar-month
          .month-title.font-din 2
            span.font-avenir 月
          table.month-table
            tbody
              tr
                th 日
                th 月
                th 火
                th 水
                th 木
                th 金
                th 土
              tr
                td
                  span 28
                td.is-current
                  span 1
                td.is-current
                  span 2
                td.is-current
                  span 3
                td.is-current
                  span 4
                td.is-current
                  span 5
                td.is-current
                  span 6
              tr
                td.is-current
                  span 7
                td.is-current
                  span 8
                td.is-current
                  span 9
                td.is-current
                  span 10
                td.is-current
                  span 11
                td.is-current
                  span 12
                td.is-current
                  span 13
              tr
                td.is-current
                  span 14
                td.is-current
                  span 15
                td.is-current
                  span 16
                td.is-current
                  span 17
                td.is-current
                  span 18
                td.is-current
                  span 19
                td.is-current
                  span 20
              tr
                td.is-current
                  span 21
                td.is-current
                  span 22
                td.is-current
                  span 23
                td.is-current
                  span 24
                td.is-current
                  span 25
                td.is-current
                  span 26
                td.is-current
                  span 27
              tr
                td.is-current
                  span 28
                td
                  span 1
                td
                  span 2
                td
                  span 3
                td
                  span 4
                td
                  span 5
                td
                  span 6
              tr
                td
                  span 7
                td
                  span 8
                td
                  span 9
                td
                  span 10
                td
                  span 11
                td
                  span 12
                td
                  span 13
        .calendar-month
          .month-title.font-din 3
            span.font-avenir 月
          table.month-table
            tbody
              tr
                th 日
                th 月
                th 火
                th 水
                th 木
                th 金
                th 土
              tr
                td
                  span 28
                td.is-current.is-active.is-first
                  span 1
                td.is-current.is-active.is-start
                  span 2
                td.is-current.is-active
                  span 3
                td.is-current.is-active
                  span 4
                td.is-current.is-active
                  span 5
                td.is-current.is-active.is-last
                  span 6
              tr
                td.is-current.is-active.is-first
                  span 7
                td.is-current.is-active
                  span 8
                td.is-current.is-active
                  span 9
                td.is-current.is-active
                  span 10
                td.is-current.is-active
                  span 11
                td.is-current.is-active
                  span 12
                td.is-current.is-active.is-last
                  span 13
              tr
                td.is-current.is-active.is-first
                  span 14
                td.is-current.is-active
                  span 15
                td.is-current.is-active
                  span 16
                td.is-current.is-active
                  span 17
                td.is-current.is-active
                  span 18
                td.is-current.is-active
                  span 19
                td.is-current.is-active.is-last
                  span 20
              tr
                td.is-current.is-active.is-first
                  span 21
                td.is-current.is-active
                  span 22
                td.is-current.is-active
                  span 23
                td.is-current.is-active
                  span 24
                td.is-current.is-active
                  span 25
                td.is-current.is-active
                  span 26
                td.is-current.is-active.is-last
                  span 27
              tr
                td.is-current.is-active.is-first.is-last
                  span 28
                td
                  span 1
                td
                  span 2
                td
                  span 3
                td
                  span 4
                td
                  span 5
                td
                  span 6
              tr
                td
                  span 7
                td
                  span 8
                td
                  span 9
                td
                  span 10
                td
                  span 11
                td
                  span 12
                td
                  span 13
      .calendar-inner.js-calendar-item
        .calendar-month
          .month-title.font-din 3
            span.font-avenir 月
          table.month-table
            tbody
              tr
                th 日
                th 月
                th 火
                th 水
                th 木
                th 金
                th 土
              tr
                td
                  span 28
                td.is-current.is-active.is-first
                  span 1
                td.is-current.is-active.is-start
                  span 2
                td.is-current.is-active
                  span 3
                td.is-current.is-active
                  span 4
                td.is-current.is-active
                  span 5
                td.is-current.is-active.is-last
                  span 6
              tr
                td.is-current.is-active.is-first
                  span 7
                td.is-current.is-active
                  span 8
                td.is-current.is-active
                  span 9
                td.is-current.is-active
                  span 10
                td.is-current.is-active
                  span 11
                td.is-current.is-active
                  span 12
                td.is-current.is-active.is-last
                  span 13
              tr
                td.is-current.is-active.is-first
                  span 14
                td.is-current.is-active
                  span 15
                td.is-current.is-active
                  span 16
                td.is-current.is-active
                  span 17
                td.is-current.is-active
                  span 18
                td.is-current.is-active
                  span 19
                td.is-current.is-active.is-last
                  span 20
              tr
                td.is-current.is-active.is-first
                  span 21
                td.is-current.is-active
                  span 22
                td.is-current.is-active
                  span 23
                td.is-current.is-active
                  span 24
                td.is-current.is-active
                  span 25
                td.is-current.is-active
                  span 26
                td.is-current.is-active.is-last
                  span 27
              tr
                td.is-current.is-active.is-first.is-last
                  span 28
                td
                  span 1
                td
                  span 2
                td
                  span 3
                td
                  span 4
                td
                  span 5
                td
                  span 6
              tr
                td
                  span 7
                td
                  span 8
                td
                  span 9
                td
                  span 10
                td
                  span 11
                td
                  span 12
                td
                  span 13
        .calendar-month
          .month-title.font-din 4
            span.font-avenir 月
          table.month-table
            tbody
              tr
                th 日
                th 月
                th 火
                th 水
                th 木
                th 金
                th 土
              tr
                td
                  span 28
                td.is-current.is-active.is-first
                  span 1
                td.is-current.is-active.is-last.is-end
                  span 2
                td.is-current
                  span 3
                td.is-current
                  span 4
                td.is-current
                  span 5
                td.is-current
                  span 6
              tr
                td.is-current
                  span 7
                td.is-current
                  span 8
                td.is-current
                  span 9
                td.is-current
                  span 10
                td.is-current
                  span 11
                td.is-current
                  span 12
                td.is-current
                  span 13
              tr
                td.is-current
                  span 14
                td.is-current
                  span 15
                td.is-current
                  span 16
                td.is-current
                  span 17
                td.is-current
                  span 18
                td.is-current
                  span 19
                td.is-current
                  span 20
              tr
                td.is-current
                  span 21
                td.is-current
                  span 22
                td.is-current
                  span 23
                td.is-current
                  span 24
                td.is-current
                  span 25
                td.is-current
                  span 26
                td.is-current
                  span 27
              tr
                td.is-current
                  span 28
                td
                  span 1
                td
                  span 2
                td
                  span 3
                td
                  span 4
                td
                  span 5
                td
                  span 6
              tr
                td
                  span 7
                td
                  span 8
                td
                  span 9
                td
                  span 10
                td
                  span 11
                td
                  span 12
                td
                  span 13
      .calendar-inner.js-calendar-item
        .calendar-month
          .month-title.font-din 4
            span.font-avenir 月
          table.month-table
            tbody
              tr
                th 日
                th 月
                th 火
                th 水
                th 木
                th 金
                th 土
              tr
                td
                  span 28
                td.is-current.is-active.is-first
                  span 1
                td.is-current.is-active.is-last.is-end
                  span 2
                td.is-current
                  span 3
                td.is-current
                  span 4
                td.is-current
                  span 5
                td.is-current
                  span 6
              tr
                td.is-current
                  span 7
                td.is-current
                  span 8
                td.is-current
                  span 9
                td.is-current
                  span 10
                td.is-current
                  span 11
                td.is-current
                  span 12
                td.is-current
                  span 13
              tr
                td.is-current
                  span 14
                td.is-current
                  span 15
                td.is-current
                  span 16
                td.is-current
                  span 17
                td.is-current
                  span 18
                td.is-current
                  span 19
                td.is-current
                  span 20
              tr
                td.is-current
                  span 21
                td.is-current
                  span 22
                td.is-current
                  span 23
                td.is-current
                  span 24
                td.is-current
                  span 25
                td.is-current
                  span 26
                td.is-current
                  span 27
              tr
                td.is-current
                  span 28
                td
                  span 1
                td
                  span 2
                td
                  span 3
                td
                  span 4
                td
                  span 5
                td
                  span 6
              tr
                td
                  span 7
                td
                  span 8
                td
                  span 9
                td
                  span 10
                td
                  span 11
                td
                  span 12
                td
                  span 13
        .calendar-month
          .month-title.font-din 5
            span.font-avenir 月
          table.month-table
            tbody
              tr
                th 日
                th 月
                th 火
                th 水
                th 木
                th 金
                th 土
              tr
                td
                  span 28
                td.is-current
                  span 1
                td.is-current
                  span 2
                td.is-current
                  span 3
                td.is-current
                  span 4
                td.is-current
                  span 5
                td.is-current
                  span 6
              tr
                td.is-current
                  span 7
                td.is-current
                  span 8
                td.is-current
                  span 9
                td.is-current
                  span 10
                td.is-current
                  span 11
                td.is-current
                  span 12
                td.is-current
                  span 13
              tr
                td.is-current
                  span 14
                td.is-current
                  span 15
                td.is-current
                  span 16
                td.is-current
                  span 17
                td.is-current
                  span 18
                td.is-current
                  span 19
                td.is-current
                  span 20
              tr
                td.is-current
                  span 21
                td.is-current
                  span 22
                td.is-current
                  span 23
                td.is-current
                  span 24
                td.is-current
                  span 25
                td.is-current
                  span 26
                td.is-current
                  span 27
              tr
                td.is-current
                  span 28
                td
                  span 1
                td
                  span 2
                td
                  span 3
                td
                  span 4
                td
                  span 5
                td
                  span 6
              tr
                td
                  span 7
                td
                  span 8
                td
                  span 9
                td
                  span 10
                td
                  span 11
                td
                  span 12
                td
                  span 13

      a.button-next(href="#")
      button.calendar-button 保存

