.js-lightbox-popup.lightbox.modal-help(data-lightbox='modal-help')
  .wrapper.table
    .popup-light-box-cell
      .lightbox-window
        .modal-header
          h2.modal-title 各項目の説明について
          p.popup-icon-close.js-popup-close
        .modal-content
          ul.grid-row
            li.grid-col.md-quarter.sm-half
              dl
                dt.is-accumulation 常連P累積人数
                dd ここに説明文ここに説明文が入ります。ここに説明文ここに説明文が入ります。ここに説明文ここに説明文が入ります。
            li.grid-col.md-quarter.sm-half
              dl
                dt.is-new-people 常連P新規数
                dd ここに説明文ここに説明文が入ります。ここに説明文ここに説明文が入ります。ここに説明文ここに説明文が入ります。
            li.grid-col.md-quarter.sm-half
              dl
                dt.is-visit 来店回数
                dd ここに説明文ここに説明文が入ります。ここに説明文ここに説明文が入ります。ここに説明文ここに説明文が入ります。
            li.grid-col.md-quarter.sm-half
              dl
                dt.is-qr QR承認金額
                dd ここに説明文ここに説明文が入ります。ここに説明文ここに説明文が入ります。ここに説明文ここに説明文が入ります。
            li.grid-col.md-quarter.sm-half
              dl
                dt.is-customer-sales SynchroLife送客数
                dd ここに説明文ここに説明文が入ります。ここに説明文ここに説明文が入ります。ここに説明文ここに説明文が入ります。
            li.grid-col.md-quarter.sm-half
              dl
                dt.is-number-customers SynchroLife送客売上
                dd ここに説明文ここに説明文が入ります。ここに説明文ここに説明文が入ります。ここに説明文ここに説明文が入ります。
            li.grid-col.md-quarter.sm-half
              dl
                dt.is-favorite 行きたい数
                dd ここに説明文ここに説明文が入ります。ここに説明文ここに説明文が入ります。ここに説明文ここに説明文が入ります。
            li.grid-col.md-quarter.sm-half
              dl
                dt.is-comment レビュー投稿数
                dd ここに説明文ここに説明文が入ります。ここに説明文ここに説明文が入ります。ここに説明文ここに説明文が入ります。
