.modal-popup.js-modal-popup(data-modal='modal-term')
  .modal-term
    .modal-header
      h2.modal-title 期間
      span.modal-close.js-modal-close
    .modal-content
      ol.term-list.js-date-select
        li.term-item
          p.term-text 今日
          p.term-time.font-din 3/10
        li.term-item.is-active
          p.term-text 昨日
          p.term-time.font-din 3/9
        li.term-item
          p.term-text 今月
          p.term-time.font-din 3/1-3/31
        li.term-item
          p.term-text 前月
          p.term-time.font-din 2/1-2/28
        li.term-item
          p.term-text 今週
          p.term-time.font-din 3/7-3/13
        li.term-item
          p.term-text 先週
          p.term-time.font-din 3/1-3/6
        li.term-item
          p.term-text 過去7日間
          p.term-time.font-din 3/3-3/9
        li.term-item
          p.term-text 過去14日間
          p.term-time.font-din 2/24-/3/9
        li.term-item
          p.term-text 過去30日間
          p.term-time.font-din 2/9-3/9
        li.term-item
          p.term-text 過去90日間
          p.term-time.font-din 12/9-3/9
        li.term-item.is-last
          p.term-text 過去12ヶ月間
          p.term-time.font-din 3/9-3/9
        li.term-item.is-custom
          p.term-text カスタム
          p.term-time.font-din 3/2-3/31
          .accordion-content.js-content
            .accordion-header
              .start-time
                input.is-active.font-din(type="text" value="2021/3/2" pattern="[0-9]*" inputmode="numeric")
                p.text-error 予期せぬエラー
              .end-time
                input.is-error.font-din(type="text" value="2021/3/31" pattern="[0-9]*" inputmode="numeric")
                p.text-error 予期せぬエラー
            .calendar-inner.js-show-calendar
              button.month-button 今日
              a.button-prev(href="#")
              a.button-next(href="#")
              .calendar-month.js-calendar-item
                .month-title.font-din 2021
                  span 2
                table.month-table
                  tbody
                    tr
                      th 日
                      th 月
                      th 火
                      th 水
                      th 木
                      th 金
                      th 土
                    tr
                      td
                        span 28
                      td.is-current
                        span 1
                      td.is-current
                        span 2
                      td.is-current
                        span 3
                      td.is-current
                        span 4
                      td.is-current
                        span 5
                      td.is-current
                        span 6
                    tr
                      td.is-current
                        span 7
                      td.is-current
                        span 8
                      td.is-current
                        span 9
                      td.is-current
                        span 10
                      td.is-current
                        span 11
                      td.is-current
                        span 12
                      td.is-current
                        span 13
                    tr
                      td.is-current
                        span 14
                      td.is-current
                        span 15
                      td.is-current
                        span 16
                      td.is-current
                        span 17
                      td.is-current
                        span 18
                      td.is-current
                        span 19
                      td.is-current
                        span 20
                    tr
                      td.is-current
                        span 21
                      td.is-current
                        span 22
                      td.is-current
                        span 23
                      td.is-current
                        span 24
                      td.is-current
                        span 25
                      td.is-current
                        span 26
                      td.is-current
                        span 27
                    tr
                      td.is-current
                        span 28
                      td.is-current
                        span 29
                      td.is-current
                        span 30
                      td.is-current
                        span 31
                      td
                        span 1
                      td
                        span 2
                      td
                        span 3
                    tr
                      td
                        span 4
                      td
                        span 5
                      td
                        span 6
                      td
                        span 7
                      td
                        span 8
                      td
                        span 9
                      td
                        span 10
              .calendar-month.js-calendar-item
                .month-title.font-din 2021
                  span 3
                table.month-table
                  tbody
                    tr
                      th 日
                      th 月
                      th 火
                      th 水
                      th 木
                      th 金
                      th 土
                    tr
                      td
                        span 28
                      td.is-current.is-first
                        span 1
                      td.is-current.is-active.is-start
                        span 2
                      td.is-current.is-active
                        span 3
                      td.is-current.is-active
                        span 4
                      td.is-current.is-active
                        span 5
                      td.is-current.is-active.is-last
                        span 6
                    tr
                      td.is-current.is-active.is-first
                        span 7
                      td.is-current.is-active
                        span 8
                      td.is-current.is-active
                        span 9
                      td.is-current.is-active
                        span 10
                      td.is-current.is-active
                        span 11
                      td.is-current.is-active
                        span 12
                      td.is-current.is-active.is-last
                        span 13
                    tr
                      td.is-current.is-active.is-first
                        span 14
                      td.is-current.is-active
                        span 15
                      td.is-current.is-active
                        span 16
                      td.is-current.is-active
                        span 17
                      td.is-current.is-active
                        span 18
                      td.is-current.is-active
                        span 19
                      td.is-current.is-active.is-last
                        span 20
                    tr
                      td.is-current.is-active.is-first
                        span 21
                      td.is-current.is-active
                        span 22
                      td.is-current.is-active
                        span 23
                      td.is-current.is-active
                        span 24
                      td.is-current.is-active
                        span 25
                      td.is-current.is-active
                        span 26
                      td.is-current.is-active.is-last
                        span 27
                    tr
                      td.is-current.is-active.is-first
                        span 28
                      td.is-current.is-active
                        span 29
                      td.is-current.is-active
                        span 30
                      td.is-current.is-active.is-last.is-end
                        span 31
                      td
                        span 1
                      td
                        span 2
                      td
                        span 3
                    tr
                      td
                        span 4
                      td
                        span 5
                      td
                        span 6
                      td
                        span 7
                      td
                        span 8
                      td
                        span 9
                      td
                        span 10
              .calendar-month.js-calendar-item
                .month-title.font-din 2021
                  span 4
                table.month-table
                  tbody
                    tr
                      th 日
                      th 月
                      th 火
                      th 水
                      th 木
                      th 金
                      th 土
                    tr
                      td
                        span 28
                      td.is-current
                        span 1
                      td.is-current
                        span 2
                      td.is-current
                        span 3
                      td.is-current
                        span 4
                      td.is-current
                        span 5
                      td.is-current
                        span 6
                    tr
                      td.is-current
                        span 7
                      td.is-current
                        span 8
                      td.is-current
                        span 9
                      td.is-current
                        span 10
                      td.is-current
                        span 11
                      td.is-current
                        span 12
                      td.is-current
                        span 13
                    tr
                      td.is-current
                        span 14
                      td.is-current
                        span 15
                      td.is-current
                        span 16
                      td.is-current
                        span 17
                      td.is-current
                        span 18
                      td.is-current
                        span 19
                      td.is-current
                        span 20
                    tr
                      td.is-current
                        span 21
                      td.is-current
                        span 22
                      td.is-current
                        span 23
                      td.is-current
                        span 24
                      td.is-current
                        span 25
                      td.is-current
                        span 26
                      td.is-current
                        span 27
                    tr
                      td.is-current
                        span 28
                      td.is-current
                        span 29
                      td.is-current
                        span 30
                      td.is-current
                        span 31
                      td
                        span 1
                      td
                        span 2
                      td
                        span 3
                    tr
                      td
                        span 4
                      td
                        span 5
                      td
                        span 6
                      td
                        span 7
                      td
                        span 8
                      td
                        span 9
                      td
                        span 10
