@charset "utf-8";
/*ブレイクポイントを設定*/
$bp-smallpc: 1200px;
$bp-tablet: 980px;
$bp-sp: 768px;

/*メディアクエリ用のミックスイン*/
@mixin media($media-width) {
    @if $media-width==sp {
        @media only screen and (max-width: $bp-sp) {
            @content;
        }
    }

    @else if $media-width==tablet {
        @media screen and (max-width: $bp-tablet) {
            @content;
        }
    }

    @else if $media-width==smallpc {
        @media only screen and (max-width: $bp-smallpc) {
            @content;
        }
    }

    @else if $media-width==pc {
        @media only screen and (min-width: $bp-smallpc) {
            @content;
        }
    }
}