/*-- リセット --*/
h1,
h2,
h3,
h4,
h5,
p,
b,
dt,
dd,
li,
span,
a,
strong {
    margin: 0;
    padding: 0;
    line-height: 1.5;
}

img {
    width: 100%;
    min-height: 0%;
    vertical-align: top;
}

figure {
    width: 100%;
    min-height: 0%;
    margin: 0 auto;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    background-color: rgba(255, 255, 255, .01);
    text-decoration: none;
    transition: .3s;

    img {
        display: inline-block;
    }
}

$red: #F32840;

.pc {
    display: block;

    @include media(sp) {
        display: none;
    }
}

.tab {
    display: none;

    @include media(tablet) {
        display: block;
    }
}

.sp {
    display: none;

    @include media(sp) {
        display: block;
    }
}

.inline-pc {
    display: inline;

    @include media(sp) {
        display: none;
    }
}

.inline-sp {
    display: none;

    @include media(sp) {
        display: inline;
    }
}

.text {
    &__common {

        @for $i from 10 through 30 {
            &_#{$i} {
                font-size: $i * 0.1rem;

                +.text__common_#{$i} {
                    margin-top: $i * 0.12rem;
                }
            }
        }

        &_link {
            font-size: inherit;
            color: inherit;
        }

        &_bold {
            font-weight: 700;
        }

        &_copy {
            line-height: 2;
            letter-spacing: .128rem;
            font-size: 1.6rem;
            font-weight: 500;

            @include media(sp) {
                line-height: 1.8;
                letter-spacing: 0.112rem;
                font-size: 1.4rem;
            }
        }
    }

    &__deco {
        &_bgye {
            display: inline;
            background: #FFFF00;
        }
    }
}

.fw-b {
    font-weight: 700;
}

html {
    font-size: 62.5%;

    @include media(smallpc) {
        font-size: .82vw;
    }

    @include media(sp) {
        font-size: 2.8vw;
    }
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: "ヒラギノ明朝 ProN W6", "HiraMinProN-W6", "游明朝", "Yu Mincho", YuMincho, "HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif;
    text-align: center;
    color: #000;

    @include media(sp) {
        overflow: hidden;
        overflow-y: scroll;
    }
}

.main {
    display: block;
}

.section {
    &__content {
        max-width: 99.5rem;
        width: 100%;
        margin: 0 auto;
        padding: 0 2rem;
        box-sizing: border-box;
        position: relative;

        @include media(sp) {
            padding: 0 3.2rem;
        }
    }

    &__bg {
        &_red {
            background: $red;
        }
    }
}

.btn_app,
.btn_play {
    display: none;

    &.show {
        display: block;
    }
}