.section {
    &__entry {
        padding: 5.5rem 0 8.851rem;
        background: url(../img/entry_bg.png) 50% 50% no-repeat;
        background-size: cover;
        overflow-x: hidden;

        @include media(sp) {
            padding: 4rem 0 7.98rem;
        }
    }
}

.entry {
    &__ttl {
        width: 38.4rem;
        margin: 0 auto 2.376rem;

        @include media(sp) {
            width: 20.798rem;
            margin: 0 auto;
        }
    }

    &__flow {
        display: flex;
        justify-content: space-between;
        max-width: 80.3rem;
        width: 100%;
        margin: 0 auto;

        @include media(sp) {
            flex-direction: column;
        }

        &_item {
            @include media(sp) {
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-top: 2.4rem;
            }
        }

        &_1 {
            width: 17.12rem;

            @include media(sp) {
                width: 100%;
            }
        }

        &_2 {
            width: 16.821rem;

            @include media(sp) {
                width: 100%;
            }
        }

        &_3 {
            width: 16.66rem;

            @include media(sp) {
                width: 100%;
            }
        }

        &_4 {
            width: 17.12rem;

            @include media(sp) {
                width: 100%;
            }
        }

        &_img {
            margin: 0 auto .849rem;

            @include media(sp) {
                width: 11.312rem;
                margin: 0;
            }
        }

        &_cont {
            width: 16rem;
            margin: 0 auto;

            @include media(sp) {
                width: calc(100% - 13.012rem);
                text-align: left;
            }
        }

        &_text {
            margin: 0 auto;
            line-height: 1.6;
            font-size: 1.6rem;
            font-weight: 600;

            @include media(sp) {
                font-feature-settings: 'palt';
            }
        }

        &_btns {
            display: flex;
            justify-content: space-between;
            margin: .8rem auto 0;

            &-item {
                width: 7.6rem;

                @include media(sp) {
                    width: 13.5rem;
                }
            }
        }
    }

    &__copy {
        width: 72rem;
        margin: 3.8rem 0 0 auto;

        @include media(sp) {
            width: 36.8rem;
            margin: 4.3rem -5.4rem 0 auto;
        }
    }
}