
.footer {

    &__visual {
        padding: 8rem 0 0;
        background: url(../img/footer_bg.png) 50% 50% no-repeat;
        background-size: cover;

        &_block {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 67.5rem;
            margin: 0 auto;

            @include media(sp) {
                flex-direction: column;
                width: 100%;
            }
        }

        &_img {
            width: 24rem;

            @include media(sp) {
                order: 2;
            }
        }

        &_cont {
            width: 35rem;
            text-align: center;

            @include media(sp) {
                width: 29.5rem;
                margin: 0 0 4rem;
                order: 1;
                text-align: center;
            }
        }

        &_logo {
            max-width: 286px;
            width: 100%;
            margin: 0 auto 2rem;

            @include media(sp) {
                max-width: 29.5rem;
                max-width: initial;
            }
        }

        &_text {
            margin: 0;
            font-weight: 600;
            color: #FFF;
        }

        &_btns {
            display: flex;
            justify-content: space-between;
            max-width: 248px;
            width: 100%;
            margin: 2.4rem auto 0;
            padding: 0;

            @include media(sp) {
                max-width: initial;
                width: 70.4%;
            }
        }

        &_qr {
            width: 38%;

            @include media(sp) {
                display: none;
            }
        }

        &_stores {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: 53.5%;

            @include media(sp) {
                width: 100%;
            }
        }
    }

    &__line {
        padding: 2.2rem 0;
        background: #FFF;

        @include media(sp) {
            border-top: 1px solid #DFDFDF;
        }

        &_block {
            max-width: 1016px;
            width: 100%;
            margin: 0 auto;
            display: flex;
            justify-content: space-between;
            align-items: center;

            @include media(sp) {
                max-width: initial;
                flex-direction: column;
            }
        }
    }

    &__sns {
        display: flex;
        justify-content: flex-end;
        order: 2;

        @include media(sp) {
            order: 1;
            justify-content: center;
        }

        &_item {
            display: block;
            width: 3.2rem;
            margin: 0 0 0 1.6rem;

            @include media(sp) {
                width: 4rem;
                margin: 0 1.2rem;
            }
        }
    }

    &__copy {
        order: 1;

        @include media(sp) {
            width: 100%;
            margin: 1.6rem 0 0;
            padding: 1.6rem 0 0;
            border-top: 1px solid #DFDFDF;
            box-sizing: border-box;
            order: 2;
        }

        &_text {
            margin: 0;
            line-height: 1;
            font-size: 1.4rem;
            color: #AAA;

            @include media(sp) {
                font-size: 1.2rem;
            }
        }
    }
}