.header {
    background: #000 url(../img/mv_bg.png) 50% 50% no-repeat;
    background-size: cover;
    position: relative;
    overflow-x: hidden;

    @include media(sp) {
        padding-bottom: 2.4rem;
        background: #000 url(../img/mv_bg_sp.png) 50% 50% no-repeat;
        background-size: cover;
    }

    &__content {
        max-width: 45.2rem;
        width: 100%;
        margin: 0 auto;
        padding: 8rem 2rem 11.2rem;
        box-sizing: border-box;
        position: relative;

        @include media(sp) {
            max-width: 22.273rem;
            padding: 5.2rem 0 0;
        }
    }

    &__ttl {
        max-width: 50.886rem;
        width: calc(100% + 13.286rem);
        margin: 0 -13.286rem 0 0;

        @include media(sp) {
            max-width: initial;
            width: calc(100% + 4.335rem);
            margin: 0 -4.335rem 0 0;
            position: relative;
            z-index: 1;
        }
    }

    &__copy {
        width: 24.8rem;
        position: absolute;
        top: 15.2rem;
        left: -26rem;

        @include media(sp) {
            width: 10.289rem;
            top: 9.9rem;
            left: -8.333rem;
        }

        &_sub {
            width: 20.301rem;
            position: absolute;
            top: 36.4rem;
            left: -17.3rem;

            @include media(sp) {
                width: 9.159rem;
                top: 18.633rem;
                left: -5.993rem;
            }
        }
    }

    &__sns {
        display: flex;
        justify-content: center;
        margin: 3.2rem auto 0;

        @include media(sp) {
            margin: .8rem auto 0;
        }

        &_item {
            display: block;
            width: 4rem;
            margin: 0 .6rem;

            @include media(sp) {
                margin: 0 .8rem;
            }
        }
    }

    &__att {
        position: absolute;
        right: .8rem;
        bottom: .8rem;
        font-size: 1rem;
        color: #8E8E8E;

        @include media(sp) {
            margin: 2.4rem auto 0;
            padding: 0 3.2rem;
            box-sizing: border-box;
            position: static;
            line-height: 1.6;
            text-align: left;
        }
    }

}