.section {
    &__list {
        padding: 5.8rem 0 8.8rem;
        background: url(../img/list_bg.png) 50% 50% no-repeat;
        background-size: cover;
        overflow-x: hidden;

        @include media(sp) {
            background: url(../img/list_bg_sp.png) 50% 50% no-repeat;
            background-size: cover;
        }
    }
}

.list {
    &__ttl {
        width: 56.8rem;
        margin: 0 auto 5.85rem;

        @include media(sp) {
            width: 29.706rem;
            margin: 0 auto 3.2rem;
        }
    }

    &__tips {
        width: 19.6rem;
        position: absolute;
        top: 0;
        right: -1.7rem;

        @include media(sp) {
            width: 12rem;
            top: 1.5rem;
            right: -1.7rem;
        }
    }

    &__block {
        margin: 5.4rem auto 0;

        &_ttl {
            width: calc(100% + 8.9rem);
            margin: 0 -4.45rem 3.8rem;

            @include media(sp) {
                width: 100%;
                margin: 0 auto 2.4rem;
            }
        }

        &_wrap {
            display: flex;
            justify-content: space-between;

            @include media(sp) {
                flex-wrap: wrap;
                margin-top: -2.4rem;
            }
        }

        &_item {
            width: 18rem;

            @include media(sp) {
                width: 13.3rem;
                margin: 2.4rem 0 0;
            }
        }
    }
}