.section {
    &__post {
        padding: 4rem 0 6.3rem;
        overflow-x: hidden;
    }
}

.post {
    &__logo {
        width: 20.385rem;
        margin: 0 auto 2.4rem;
    }

    &__copy {
        margin: 0 auto;
        line-height: 1.6;
        font-size: 2rem;
        font-weight: 300;

        @include media(sp) {
            font-size: 1.6rem;
        }
    }
}