@charset "UTF-8";
/*ブレイクポイントを設定*/
/*メディアクエリ用のミックスイン*/
/*-- リセット --*/
h1,
h2,
h3,
h4,
h5,
p,
b,
dt,
dd,
li,
span,
a,
strong {
  margin: 0;
  padding: 0;
  line-height: 1.5;
}

img {
  width: 100%;
  min-height: 0%;
  vertical-align: top;
}

figure {
  width: 100%;
  min-height: 0%;
  margin: 0 auto;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  background-color: rgba(255, 255, 255, 0.01);
  text-decoration: none;
  transition: .3s;
}

a img {
  display: inline-block;
}

.pc {
  display: block;
}

@media only screen and (max-width: 768px) {
  .pc {
    display: none;
  }
}

.tab {
  display: none;
}

@media screen and (max-width: 1024px) {
  .tab {
    display: block;
  }
}

.sp {
  display: none;
}

@media only screen and (max-width: 768px) {
  .sp {
    display: block;
  }
}

.inline-pc {
  display: inline;
}

@media only screen and (max-width: 768px) {
  .inline-pc {
    display: none;
  }
}

.text__common {
  font-size: 1.4rem;
}

.font__weight_bold {
  font-weight: bold;
}

.font__family_mincho {
  font-family: "游明朝", "Yu Mincho", YuMincho, "ヒラギノ明朝 ProN W6", "HiraMinProN-W6", "HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif;
}

html {
  font-size: 62.5%;
}

@media screen and (min-width: 1025px) {
  html {
    font-size: 130%;
  }
}

@media screen and (max-width: 1024px) {
  html {
    font-size: 2.58vw;
  }
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: "游ゴシック体", "Yu Gothic", YuGothic, "Hiragino Snas", "ヒラギノ角ゴシック W3", "Hiragino Kaku Gothic W3", 'メイリオ', Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  text-align: center;
  font-feature-settings: 'palt';
  color: #000;
}

@media only screen and (max-width: 768px) {
  body {
    overflow: hidden;
    overflow-y: scroll;
  }
}

.main {
  display: block;
}

.section__content {
  max-width: 1088px;
  width: 100%;
  margin: 0 auto;
  padding: 0 3.2rem;
  box-sizing: border-box;
}

.header {
  background: #000 url(../img/mv_bg.png) 50% 50% no-repeat;
  background-size: cover;
}

.header__content {
  padding: 5.2rem 3.2rem 5.6rem;
  box-sizing: border-box;
}

.header__content_ttl {
  width: 26.608rem;
  margin: 0 auto 1.57rem;
  transform: translateX(2.288rem);
}

.header__content_sub {
  width: 25.5rem;
  margin: 0 auto;
}

.header__sns {
  margin: 3.2rem auto 0;
}

.header__sns_list {
  display: flex;
  justify-content: center;
}

.header__sns_item {
  width: 4rem;
  margin: 0 .8rem;
}

.thanks {
  padding: 4rem 0 4.8rem;
  box-sizing: border-box;
  background: #000;
}

.thanks__ttl {
  width: 26.8rem;
  margin: 0 auto 2.4rem;
}

.thanks__copy {
  margin: 0 auto;
  text-align: center;
}

.thanks__copy_text {
  color: #FFF;
}

.menulist {
  padding: 4rem 0 8rem;
  box-sizing: border-box;
  background: url(../img/bg_ichimatsu.png) 50% 50% no-repeat;
  background-size: cover;
}

.menulist__ttl {
  width: 29.706rem;
  margin: 0 auto 1.6rem;
}

.menulist__ttl_sub {
  width: 22.1rem;
  margin: 0 auto 3.2rem;
}

.menulist__camp {
  margin: 0 auto 4.1rem;
}

.menulist__camp_cap {
  width: 25.8rem;
  margin: 0 auto .8rem;
}

.menulist__camp_img {
  width: 100%;
  margin: 0;
}

.menulist__date {
  margin: 0 auto 4rem;
}

.menulist__date_box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menulist__date_box + .menulist__date_box {
  margin-top: 1.2rem;
}

.menulist__date_ttl {
  width: 12.4rem;
  padding: .3rem 0;
  border-radius: .4rem;
  box-sizing: border-box;
  background: #AE3032;
  line-height: 1.5;
  font-size: 1.2rem;
  color: #FFF;
}

.menulist__date_cont {
  width: calc(100% - 12.4rem - 1.6rem);
  text-align: left;
  line-height: 1.5;
  font-size: 1.6rem;
  color: #FFF;
}

.rank__block {
  position: relative;
}

.rank__block_ttl {
  width: 16.713rem;
  margin: 0 auto 4rem;
  transform: translateX(4.2065rem);
}

.rank__block_tips {
  width: 15.9rem;
  position: absolute;
  top: -.583rem;
  left: -2.8rem;
}

.rank__box {
  margin: 0;
}

.rank__box + .rank__box {
  margin-top: 2.4rem;
}

.rank__sign_ttl {
  margin: 4rem auto 2.4rem;
}

.rank__sign_cap {
  margin: .756rem auto 0;
  line-height: 2;
  font-size: 2.4rem;
  color: #FFF;
}

.rank__list {
  margin: 1rem auto 0;
  padding: 0;
  position: relative;
}

.rank__list li{
  padding: 1.5rem 0;
}

.rank__list_item {
  display: flex;
  justify-content: space-between;
  padding: .8rem;
  box-sizing: border-box;
  position: relative;
  text-align: left;
  color: #FFF;
}

.rank__list_item::after {
  content: "";
  width: 100%;
  height: .2rem;
  background: url(../img/rank_list_line.png);
  position: absolute;
  left: 0;
  top: 0;
}

.rank__list_num {
  width: 2.6rem;
  line-height: 1;
  font-size: 1.6rem;
}

.rank__list_cont {
  width: calc(100% - 2.6rem - 2.2rem);
  line-height: 1;
  font-size: 1.6rem;
}

.photo {
  padding: 4rem 0 8rem;
  background: #000 url(../img/bg_photo.png) 50% 0 no-repeat;
  background-size: cover;
}

.photo__ttl {
  width: 30.006rem;
  margin: 0 auto 2.6rem;
}

.photo__text {
  margin: 0 auto 4rem;
  line-height: 1.3333;
  font-size: 2.4rem;
  color: #FFF;
}

.photo__granprix {
  margin: 0 auto 3.2rem;
  padding: 0 1.8rem;
  box-sizing: border-box;
}

.photo__granprix_ttl {
  margin: 0 auto 2.4rem;
}

.photo__item {
  position: relative;
}

.photo__item_granprix::after {
  content: "";
  width: 4rem;
  height: 16.1rem;
  background: url(../img/photo_ribon_01.png) 50% 50% no-repeat;
  background-size: 100%;
  position: absolute;
  top: -1.6rem;
  left: -.6rem;
}

.photo__item_semi::after, .photo__item_futago::after {
  content: "";
  width: 2.4rem;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: 100%;
  position: absolute;
  top: -1.1rem;
  left: -.8rem;
}

.photo__item_semi::after {
  height: 9.6rem;
  background-image: url(../img/photo_ribon_02.png);
}

.photo__item_futago::after {
  height: 9.96rem;
  background-image: url(../img/photo_ribon_03.png);
}

.photo__item_img {
  margin: 0 0 .8rem;
}

.photo__user {
  display: flex;
  justify-content: center;
  align-items: center;
}

.photo__user_icon {
  width: 2.8rem;
}

.photo__user_name {
  margin-left: .8rem;
  line-height: 1;
  font-size: 1.6rem;
  color: #FFF;
}

.photo__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: -3.2rem auto 0;
  padding: 0 1.8rem;
  box-sizing: border-box;
}

.photo__list_item {
  width: 12.4rem;
  margin: 3.2rem 0 0;
}

.footer__sns {
  padding: 1.6rem 0;
  border-bottom: .1rem solid #DFDFDF;
}

.footer__sns_list {
  display: flex;
  justify-content: center;
}

.footer__sns_item {
  width: 4rem;
  margin: 0 1.2rem;
}

.footer__copy {
  padding: 1.7rem 0;
}

.footer__copy_text {
  line-height: 1.4;
  font-size: 1.2rem;
  color: #AAA;
}
